/*-------------------- General --------------------*/
li {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

ul.nav-links-horizontal,
ul.nav-links-vertical {
    text-align: right;
}

.headline-main-banner {
	font-size: 50px;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 350px;
}

.sub-header {
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.padding-top-hundred {
    padding-top: 100px;
}

.padding-top-ten {
    padding-top: 10px;
}

.padding-top-twentyfive {
    padding-top: 25px;
}

.padding-top-fifty {
    padding-top: 50px;
}

.padding-top-hundredfifty {
    padding-top: 150px;
}

.padding-bottom-hundred {
    padding-bottom: 100px;
}

.padding-bottom-fifty {
    padding-bottom: 50px;
}

.side-padding-zero {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-side-twenty {
    margin-left: 20px;
    margin-right: 20px;     
}

.padding-side-ten {
    padding-left: 10px;
    padding-right: 10px;
}

.margin-top-twentyfive {
    margin-top: 25px;
}

.margin-bottom-twentyfive {
    margin-bottom: 25px;
}

.body-text-center {
    width: 100%;
    font-size: 16px;
	font-family: 'Roboto Slab', serif; 
	font-weight: 300;
    color: #fff;
    text-align: center;
}

.body-text-left {
    width: 100%;
    font-size: 16px;
	font-family: 'Roboto Slab', serif; 
	font-weight: 300;
    color: #fff;
    text-align: left;
}

.text-uppercase {
    text-transform: uppercase;
}

.body-text-weightnormal {
    font-weight: 400;
}

.body-text-weightbold {
    font-weight: 600;
}

.font-roboto-slab {
    font-family: 'Roboto Slab', serif;
}

.font-size-thirteen {
    font-size: 13px;
}


/*-------------------- Colors --------------------*/

.color-light-red {
	color: #f79a8b;
}

.color-dark-red {
    color: #9f1323;
}

.color-white {
	color: #fff;
}

.color-grey {
	color: #666;
}

.color-ashblack {
    color: #151515;
}

.bgrd-color-dgrey {
    background-color: #151515;
}

.bgrd-color-lgrey {
    background-color: #ddd;
}

.bgrd-color-dred {
    background-color: #9f1323;
}

.bgrd-color-white {
    background-color: #fff;
}

/*-------------------- Navigation --------------------*/

.nav-links-horizontal {
    padding: 50px 0px;
    margin-bottom: 0px;
}

.nav-links-vertical {
	list-style-type: none;
	margin-right: -25px;
}

.nav-bar {
	min-height: 160px;
	overflow: hidden;
	background-color: rgba(0,0,0,.75);
	position: fixed;
	top: 0;
	width: 100%;
    padding-top: 20px;
    z-index: 99;
}

.nav-link {
	color: #fff;
}

.nav-link:hover {
	color: #f7243c;
}

.nav-link:active {
	color: #f7243c;
}


/*
============================================
                 COPIED CODE
============================================
*/
/* Underline From Center - the code below has been copied from Hover.css website (https://ianlunn.github.io/Hover/#effects) */

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #f7243c;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/*
============================================
                 END OF COPIED CODE
============================================
*/


/*-------------------- Main Banners --------------------*/

.header-home-banner {
	background: url("../images/home-page-main-banner.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 900px;
}

.header-about-banner {
	background: url("../images/about-page-main-banner.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
}

.header-classes-banner {
	background: url("../images/classes-page-main-banner.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
}

.header-times-banner {
	background: url("../images/times&prices-page-main-banner.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
}

.header-coaches-banner {
	background: url("../images/coaches-page-main-banner.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
}

.header-contact-banner {
	background: url("../images/contact-page-main-banner.jpg") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;
}


/*-------------------- Sections --------------------*/

.section-home {
    min-height: 600px;
    padding-bottom: 50px;
}

.section-about-about {
    background: url("../images/about-page-boxingbag-image.jpg") no-repeat center center;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
    width: 100px;
}


/*
============================================
                COPIED CODE
============================================
*/
/* - Home page - overlay hover effect on 3 images (BJJ, Kickboxing and Boxing) - the code below downloaded from www.w3schools.com website (https://www.w3schools.com/howto/howto_css_image_overlay_title.asp) */

.home-image-container {
    position: relative;
}

.image-overlay {
    position: absolute; 
    top: 50px;
    background: rgba(255, 255, 255, 0.7);
    width: 390px;
    height: 300px;
    transition: .5s ease;
    opacity:1;
    color:#000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}

.home-image-container:hover .image-overlay {
  opacity: 0;
}

.image-overlay img {
    height: 130px;
    margin: 60px 0px 40px;
}

/*
============================================
                END OF COPIED CODE
============================================
*/

.home-discipline-text {
    max-width: 390px;
    font-size: 16px;
	font-family: 'Roboto Slab', serif; 
	font-weight: 300;
    color: #fff;
    text-align: center;
}

.read-more {
    text-decoration: none;
    text-align: center;
}

.read-more:hover {
    color: #fff;
}

.color-dark-red.read-more:hover {
    color:#f79a8b;
}

.classes-group {
    font-size: 16px;
	font-family: 'Roboto Slab', serif; 
	font-weight: 300;
    color: #1a1a1a;
    text-align: center;
    padding: 5px;
    margin-right:15px;
}

.classes-levels {
    font-size: 16px;
	font-family: 'Roboto Slab', serif; 
	font-weight: 300;
    color: #fff;
    text-align: center;
    background-color: #9f1323;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.opacity-thirtyfive {
    opacity: .35;
}

.about-schedule-slot {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}

.about-schedule-time {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    margin-bottom: 0;
}

.about-schedule-discipline {
    font-size: 16px;
    color: #f7243c;
    font-weight: 600;
    margin-bottom: 0;
}

.about-schedule-class {
    font-size: 14px;
    color: #151515;
    font-weight: 400;
    margin-bottom: 0;
}

.membership-prices-box {
    text-align: center;
    margin: 10px;
    padding: 30px 5px 40px;
    margin-bottom: 50px;
}

.membership-name {
   font-family: 'Roboto Slab', serif;
   font-weight: 500;
   font-size: 24px;
   margin-bottom: 0;
}

.membership-forwho {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 14px;
}

.membership-whatclasses {
    height: 75px;
}

.membership-whatclasses-list {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: none;
    text-align: left;
}

.membership-price {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 0;
    line-height: 60px;
}

.membership-euro {
    font-size: 30px;
}

.membership-period {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: -10px;
}

.coaches-image {
    border-radius: 50%;
}

.coaches-bio {
    max-width: 390px;
    font-size: 16px;
	font-family: 'Roboto Slab', serif; 
	font-weight: 300;
    text-align: center;
}

.coaches-name {
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
}

.coaches-discipline {
    color: #f7243c;
    font-weight: 400;
}

.coaches-info {
    color: #fff; 
}

/*
============================================
                COPIED CODE
============================================
*/
/* - Zoom effect on hover over coaches images - the code below taken from www.w3bits.com website (https://w3bits.com/css-image-hover-zoom/) */

.img-hover-zoom {
  height: 390px;
  overflow: hidden;
  border-radius: 50%;
  border: 7px solid #222;
}

.img-hover-zoom img {
    transition: transform .5s ease;
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.05);
}

/*
============================================
                END OF COPIED CODE
============================================
*/

form {
    margin-left: 25px;
    margin-right: 25px;     
}

.input-label,
.input-radio-label {
    font-family: 'Roboto Slab', serif;
    color: #666;
    font-size: 14px;
}

.input-label {
    font-family: 'Roboto Slab', serif;
    color: #666;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
}

textarea,
input[type='text'],
input[type='email'] {
    border-radius: 15px;
    border: 1px solid #666;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
}

textarea {
    min-height: 200px;
}


/*-------------------- Buttons --------------------*/

.btn-join {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 25px;
	background-color: #f7243c;
	padding: 10px 35px;
	-webkit-transition: background-color 0.5s ease;
  	-moz-transition: background-color 0.5s ease;
 	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.btn-join:hover {
	background-color: #9f1323;
	color: #fff;
}

.btn-getstarted-red {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 25px;
	background-color: #f7243c;
	padding: 10px 20px;
	-webkit-transition: background-color 0.5s ease;
  	-moz-transition: background-color 0.5s ease;
 	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.btn-getstarted-red:hover {
	background-color: #9f1323;
	color: #fff;
}

.btn-getstarted-white {
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #9f1323;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 25px;
	background-color: #fff;
	padding: 10px 20px;
	-webkit-transition: background-color 0.5s ease;
  	-moz-transition: background-color 0.5s ease;
 	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.btn-getstarted-white:hover {
	background-color: #ccc;
	color: #9f1323;
}

.submit-button {
    display: inline-block;
    min-width: 150px;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 10px;;    
}

/*-------------------- Footer --------------------*/

footer {
    min-height: 260px;
    background-color: #333;
    font-size: 13px;
	font-family: 'Roboto Slab', serif; 
	font-weight: 400;
    color: #aaa;
    padding-top: 25px;
}

.footer-nav-link {
    text-decoration: none;
    color: #aaa;
}

.footer-nav-link:hover {
    color: #fff;
}

footer p {
    padding: 0;
    margin-bottom: 3px;
}

.footer-col-padding {
    padding-top: 25px;
}

i {
    color: #aaa;
    margin-right: 15px;
}

.footer-singleicon {
    color: white;
}

.footer-social-icons {
    line-height: 130px;
    font-size: 30px;
    text-align:center;
}

.footer-social-singleicon:hover {
    color: white;
}

.footer-par-developed {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    font-size: 12px;
    border-top: 1px solid #aaa;
}

/*-------------------- Media Querries --------------------*/

@media screen and (max-width: 576px) {
	.headline-main-banner {
		font-size: 38px;
    }
    .footer-address {
        border-bottom: 1px solid #aaa;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 910px) {
	.nav-links-horizontal {
	    display: none;
    }
}


@media screen and (min-width: 911px) {
	.nav-links-vertical {
		display: none;
	}
}

@media screen and (max-width: 1400px) {
	.footer-logo {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.footer-social-icons {
        border-top: 1px solid #aaa;
        line-height: 60px;
        padding-top: 25px;
    }
    .rwd-display-none {
        display: none;
    }
}

@media screen and (max-width: 460px) {
    .image-overlay,
    .home-image img {
        width: 290px;
        height: 223px;
    }

    .image-overlay img {
        height: 90px;
        margin: 40px 0px 20px;
    }

    .home-discipline-text {
        max-width: 290px;
    }
    .image-overlay {
        font-size: 24px;
    }
}

@media screen and (min-width: 1201px) {
    .rwd-kidsclassesimage-phonetablet,
    .rwd-kickboxingimage-phonetablet {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
    .rwd-kidsclassesimage-desktop,
    .rwd-kickboxingimage-desktop {
		display: none;
    }
}

@media screen and (max-width: 460px) {
    .coaches-image,
    .img-hover-zoom {
        width: 100%;
        height: auto;
    }
    .img-hover-zoom:hover img {
  transform: scale(1);
    }
}